[submodule "Bela"]
	path = Bela
	url = git@github.com:rodrigodzf/Bela.git
	branch = feat/configureSampleRate
[submodule "iree"]
	path = iree
	url = https://github.com/iree-org/iree.git
[submodule "models/embedded-model-zoo"]
	path = models/embedded-model-zoo
	url = git@github.com:victor-shepardson/embedded-model-zoo.git
[submodule "bela-iree-runtime"]
	path = bela-iree-runtime
	url = git@github.com:ezrapierce000/bela-iree-runtime.git
